---

---

<menu class="p-4">
  <nav>
    <ul
      class="flex flex-wrap justify-center gap-6 text-l font-semibold text-white"
    >
      <li>
        <a href="./" class="hover:text-[#BFEF4D] transition duration-300"
          >Services</a
        >
      </li>
      <li>
        <a href="./" class="hover:text-[#BFEF4D] transition duration-300"
          >Industries</a
        >
      </li>
      <li>
        <a href="./" class="hover:text-[#BFEF4D] transition duration-300"
          >About Us</a
        >
      </li>
      <li>
        <a href="./" class="hover:text-[#BFEF4D] transition duration-300"
          >Our Work</a
        >
      </li>
      <li>
        <a href="./blog" class="hover:text-[#BFEF4D] transition duration-300"
          >Blog</a
        >
      </li>
      <li>
        <a href="./contact" class="hover:text-[#BFEF4D] transition duration-300"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</menu>
